@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* ----- Universal styles ----- */

:root {
    /* Colors */
    --gray: hsl(0, 0%, 55%);
    --darkGray: hsl(0, 0%, 41%);
    --white: #fff;
    --black: #000;
    /* Fonts */
    --Alata: 'Alata', sans-serif; /* 400 */
    --Josefin: 'Josefin Sans', sans-serif; /* 300 */
}
    
::-moz-selection {
    background-color: var(--darkGray);
    color: var(--white);
}
    
::selection {
    background-color: var(--darkGray);
    color: var(--white);
}
    
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
    
body {
    height: 100vh;
    min-width: 360px;
    max-width: 1980px;
    overflow-x: hidden;
    margin: 0 auto;
    font-family: var(--Josefin);
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ----- Header styles ----- */

header {
    background-image: url(images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
    padding: 1em;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav img {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav > a:first-of-type {
    margin-right: auto;
}

nav > a {
    z-index: 20;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    display: none;
    padding: 30vh 2em;
    z-index: 10;
}

.mobile-menu li {
    margin: 2em 0;
}

.mobile-menu a {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--Josefin);
}

nav ul li a {
    color: var(--white);
    font-family: var(--Alata);
    font-weight: 400;
    padding-bottom: 0.5em;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

h1 {
    color: var(--white);
    border: 2px solid var(--white);
    font-size: 2.75rem;
    padding: 0.5em;
    margin-top: 4.5em;
    font-weight: 200;
}

/* ----- Leader styles ----- */

.leader {
    margin-top: 6em;
    padding: 1em;
    text-align: center;
}

.leader > img {
    margin: 0 auto 3em auto;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 0.5em;
    font-weight: 200;
    text-align: center;
}

.leader p {
    font-size: 1rem;
    color: var(--darkGray);
    line-height: 2;
    font-family: var(--Alata);
    max-width: 85%;
    margin: 0 auto 5em auto;
}

/* ----- Creations styles ----- */

.creations {
    padding: 1em;
}

.creations-grid {
    margin-bottom: 2.5em;
}

.creations h2 {
    margin-bottom: 1.25em;
}

:is(.deep-earth, .night-arcade, .soccer-team, .the-grid, .from-above, .borealis, .curiosity, .fisheye) {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

:is(.deep-earth, .night-arcade, .soccer-team, .the-grid, .from-above, .borealis, .curiosity, .fisheye):after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(transparent), to(transparent));
    background: -o-linear-gradient(left, #000, transparent, transparent);
    background: linear-gradient(90deg, #000, transparent, transparent);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.creations-grid h3 {
    position: absolute;
    bottom: 0.75em;
    left: 0.75em;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 200;
    z-index: 2;
}

.creations a {
    display: block;
    margin: 0 auto 5em auto;
    width: 160px;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 0.5em 2em;
    text-align: center;
    font-family: var(--Alata);
    font-weight: 300;
    letter-spacing: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* ----- Footer styles ----- */

footer {
    background-color: var(--black);
    color: var(--white);
    padding: 4em 1em;
}

.footer-left img {
    margin: 0 auto 2em auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-nav {
    text-align: center;
    margin-bottom: 3em;
}

.footer-nav ul li a {
    color: var(--white);
    line-height: 2.5;
    font-size: 1.15rem;
    font-family: var(--Alata);
    padding-bottom: 0.25em;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.icons ul li a img {
    padding-bottom: 0.5em;
}

.footer-right p {
    color: var(--darkGray);
    text-align: center;
    font-family: var(--Alata);
    font-size: 1rem;
}

/* ----- Hover effects ----- */

nav img:hover {
    -webkit-transform: scale(110%);
        -ms-transform: scale(110%);
            transform: scale(110%);
}

nav ul li a:hover, .footer-nav ul li a:hover, .icons ul li a img:hover {
    border-bottom: 1px solid white;
}

.creations a:hover {
    background-color: var(--black);
    color: var(--white);
}

.footer-left img:hover {
    -webkit-transform: scale(110%);
        -ms-transform: scale(110%);
            transform: scale(110%);
    cursor: pointer;
}

/* ----- Responsive styles ----- */

@media only screen and (min-width: 750px) {

    header {
        background-image: url(images/desktop/image-hero.jpg);
        height: 650px;
        padding: 5em;
    }

    h1 {
        font-size: 4rem;
        margin-top: 2em;
        margin-bottom: 0.5em;
        max-width: 600px;
    }
    
    .leader {
        margin-top: 6em;
        padding: 1em 5em;
        text-align: left;
        position: relative;
    }

    .leader-text {
        position: absolute;
        top: 10em;
        right: 0;
        background-color: var(--white);
        max-width: 60%;
        padding: 3em 0 3em 3em;
    }

    .leader > img {
        margin: 0 0 10em 0;
    }
    
    h2 {
        font-size: 2.25rem;
        margin-bottom: 0.5em;
        text-align: left;
        max-width: 80%;
    }
    
    .leader p {
        font-size: 1rem;
        max-width: 75%;
        margin: 0 0 5em 0;
        text-align: left;
    }
    
    .creations {
        padding: 1em 5em;
        position: relative;
    }

    .creations h2 {
        text-align: center;
        margin: 0 auto 2em auto;
    }

    .creations-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1.5em 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr 0.5em 1fr 0.5em 1fr 0.5em 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 1.5em;
        grid-row-gap: 0.5em;
        margin-bottom: 7.5em;
    }

    .creations-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .creations-grid > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .creations-grid > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .creations-grid > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .creations-grid > *:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .creations-grid > *:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .creations-grid > *:nth-child(7) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .creations-grid > *:nth-child(8) {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    }

    .creations-grid img {
        width: 100%;
    }

    :is(.deep-earth, .night-arcade, .soccer-team, .the-grid, .from-above, .borealis, .curiosity, .fisheye):after {
        background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(transparent), to(transparent));
        background: -o-linear-gradient(bottom, #000, transparent, transparent);
        background: linear-gradient(0deg, #000, transparent, transparent);
    }

    .creations-grid h3 {
        bottom: 1.5em;
        left: 1.5em;
        right: 1.5em;
    }

    footer {
        padding: 4em 5em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: top;
            -ms-flex-align: top;
                align-items: top;
        gap: 1em;
    }

    .footer-left, .footer-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-nav {
        margin-bottom: 0;
    }

    .icons ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        gap: 1em;
        margin-bottom: 1.5em;
    }

    .footer-left img {
        margin: 0 0 0.9em 0;
        width: 175px;
    }

    .footer-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2em;
    }

    .footer-right p {
        text-align: right;
    }

}

@media only screen and (min-width: 960px) {

    header {
        padding: 5em 10em;
        background-size: cover;
    }

    .mobile-menu {
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        width: auto;
        height: auto;
        display: block;
        padding: 0;
    }
    
    .mobile-menu li {
        margin: 0;
    }
    
    .mobile-menu a {
        font-size: 1rem;
        text-transform: none;
        font-family: var(--Alata);
    }

    .mobile-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
        gap: 2em;
    }

    .burger {
        display: none;
    }

    .leader {
        padding: 1em 10em;
    }

    .leader-text {
        max-width: 55%;
        padding: 5em;
    }

    .creations {
        padding: 1em 10em;
    }

    .creations h2 {
        text-align: left;
        margin: 0 0 2em 0;
    }

    .creations-grid {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    }

    .creations-grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .creations-grid > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .creations-grid > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .creations-grid > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }

    .creations-grid > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .creations-grid > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .creations-grid > *:nth-child(7) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .creations-grid > *:nth-child(8) {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
    }

    .creations-grid h3 {
        bottom: 1.5vw;
        left: 1.5vw;
        font-size: clamp(1.25rem, 2vw, 2rem);
    }

    .creations a {
        position: absolute;
        top: 1em;
        right: 10em;
    }

    footer {
        padding: 4em 10em;
    }

}
